.profile-card {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card > img {
    opacity: 0.7;
    width: 100%;
}

.profile-card > button {
    position: absolute;
    width: 25%;
    height: 10%;
    border-radius: 10px;
    border: none;
    font-size: 36px;
}