.profile-card {
    background-color: aqua;
    width: 33%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-card > img {
    opacity: 0.7;
    width: 100%;
}

.profile-button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 25%;
    border-radius: 10px;
    border: none;
    font-size: 36px;
    letter-spacing: 2px;
}

.button:hover {
    background-color: black;
    color: white;
}